<?xml version="1.0"?>
<robot name="franka_robotiq" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="arm_id" default="panda"/>
  <xacro:arg name="robot_ip" default=""/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="com_port" default="/dev/ttyUSB1"/>

  <!-- Load panda arm -->
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:panda_arm arm_id="$(arg arm_id)" safety_distance="0.03"/>

  <!-- Load Robotiq Gripper -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:robotiq_gripper 
    name="RobotiqGripperHardwareInterface"
    prefix=""
    parent="$(arg arm_id)_link8"
    sim_ignition="false"
    sim_isaac="false"
    use_fake_hardware="$(arg use_fake_hardware)"
    include_ros2_control="true"
    com_port="$(arg com_port)">
    <origin xyz="0 0 -0.03" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

  <!-- ros2_control for the panda arm -->
  <xacro:include filename="$(find franka_description)/robots/panda_arm.ros2_control.xacro"/>
  <xacro:panda_arm_ros2_control 
    ns="$(arg arm_id)" 
    robot_ip="$(arg robot_ip)" 
    use_fake_hardware="$(arg use_fake_hardware)" 
    fake_sensor_commands="$(arg fake_sensor_commands)"/>

</robot>
